.form-login {
  width: 30%;
  height: 250px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

  border-radius: 20px;
  align-items: center;
}

.form-register {
  width: 30%;
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

  border-radius: 20px;
  align-items: center;
}

TextField {
  margin: "8px 0";
}
